.header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.listNavigation {
    width: 400px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    list-style: none;
}